@model InsuranceEngine.DTO.Questionnaire.QuoteDTO

@{
    ViewBag.Title = "QuoteSummary";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutWithMenu.cshtml";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Quote Summary - @Model.Reference</h3>
            </div>
            <div class="panel-body">
                <p>You have completed the quote</p>
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-1 col-xs-1">
                            @Html.ActionLink("Amend Quote", "OpenQuote", "Quotes", new { quoteId = @Model.QuoteID }, new { @class = "btn btn-default" })
                        </div>
                        <div class="col-sm-3 col-xs-7">
                            &nbsp;
                        </div>
                        <div class="col-sm-1 col-xs-1">
                            @Html.ActionLink("Return To Quote List", "ExistingQuotes", "Quotes", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

