CREATE TABLE [dbo].[Page_Template](
	[Page_Template_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[TemplateContent] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Page_Template] PRIMARY KEY CLUSTERED 
(
	[Page_Template_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
